<app-menu />
<button mat-icon-button (click)="back()">
  <mat-icon>arrow_back</mat-icon>
</button>
<span class="title" i18n>Nouvel album</span>

<mat-card *ngIf="fileHandle" class="candidate">
  <img [src]="fileHandle.url" />
  <button mat-mini-fab class="remove" (click)="removeCandidate()">
    <mat-icon>cancel</mat-icon>
  </button>
</mat-card>

<mat-card>
  <div
    *ngIf="!fileHandle"
    appDragSingle
    class="dropzone"
    (files)="filesDropped($event)"
  >
    <div class="text-wrapper">
      <div class="centered" i18n>Glissez-déposez votre photo (facultatif)</div>
      <h2 i18n>ou</h2>
      <label for="uploadPicture" i18n>Choisissez-la</label>
    </div>
    <input
      type="file"
      accept="image/png, image/gif, image/jpeg"
      id="uploadPicture"
      (change)="onFileSelected($event)"
      style="display: none"
    />
  </div>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <mat-form-field>
        <mat-label i18n>Nom de l'album</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
      <mat-form-field>
        <mat-label i18n>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
      <button
        mat-raised-button
        i18n
        color="primary"
        type="submit"
        [disabled]="form.invalid"
        data-cy="submit"
      >
        Créer
      </button>
      <p *ngIf="onError" class="error" i18n>L'album n'a pas pu être créé</p>
    </form>
  </mat-card-content>
</mat-card>
