<app-menu />
<button mat-icon-button (click)="back()">
  <mat-icon>arrow_back</mat-icon>
</button>
<span class="title">Commentaires</span>

<mat-paginator
  *ngIf="paginator.length! > 20"
  [length]="paginator.length"
  [pageSize]="paginator.pageSize"
  [pageSizeOptions]="[20, 50, 100]"
  [pageIndex]="paginator.pageIndex"
  [showFirstLastButtons]="paginator.showFirstLastButtons"
  (page)="handlePageEvent($event)"
  aria-label="Select page"
/>
<mat-tab-group (selectedTabChange)="onTabChange($event)">
  <mat-tab label="Mes commentaires" i18n-label>
    <ng-template matTabContent>
      <div class="collection">
        <app-mycomment
          *ngFor="
            let comment of myComments
              | slice
                : paginator.pageIndex * paginator.pageSize
                : (paginator.pageIndex + 1) * paginator.pageSize
          "
          [comment]="comment"
          class="Link"
          (click)="goTo(comment)"
        />
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="Mes réponses" i18n-label>
    <ng-template matTabContent>
      <div class="collection">
        <app-mycomment
          *ngFor="
            let comment of myAnswers
              | slice
                : paginator.pageIndex * paginator.pageSize
                : (paginator.pageIndex + 1) * paginator.pageSize
          "
          [comment]="comment"
          class="Link"
          (click)="goTo(comment)"
        />
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="Sur mes albums" i18n-label>
    <ng-template matTabContent>
      <div class="collection">
        <app-mycomment
          *ngFor="
            let comment of myAlbumsComments
              | slice
                : paginator.pageIndex * paginator.pageSize
                : (paginator.pageIndex + 1) * paginator.pageSize
          "
          [comment]="comment"
          class="Link"
          (click)="goTo(comment)"
        />
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>
