<p i18n>Test connexion Internet (Appel Externe) : {{ testInternet }}</p>
<p i18n>Test connexion BackEnd (Appel Welcome) : {{ testWelcome }}</p>
<p i18n>
  Ecran (h x l) : {{ screenHeight }} x {{ screenWidth }} (screenClass :
  {{ screenClass(screenWidth) }})
</p>
<button (click)="hideLoading = !hideLoading" i18n>Afficher le loading</button>
<br /><br />
<button (click)="testInputDialog()" i18n>Afficher une inputbox de test</button>
<div id="loading">
  <img
    id="loading"
    src="../../../../assets/perfect_loading.gif"
    [hidden]="hideLoading"
  />
</div>
