<app-menu />
<button mat-icon-button (click)="back()">
  <mat-icon>arrow_back</mat-icon>
</button>

<mat-slide-toggle *ngIf="isModo" [(ngModel)]="isAdminPanelShown" i18n
  >Administration</mat-slide-toggle
>
<app-album-title
  *ngIf="album"
  [album]="album"
  [isAdminOrOwner]="isAdmin"
  [isAdminTriggered]="isAdminPanelShown"
/>

<mat-tab-group>
  <mat-tab
    *ngFor="let uniqueYear of uniqueYears"
    [label]="uniqueYear.toString()"
  >
    <ng-template matTabContent>
      <div class="albumList">
        <div *ngFor="let picvid of picvids" class="pre-picvid">
          <mat-card
            class="picvid"
            *ngIf="bestDate(picvid).getFullYear() == uniqueYear"
            (click)="goToPicvid(picvid)"
          >
            <mat-card-subtitle>{{
              bestDate(picvid) | date : dateFormat
            }}</mat-card-subtitle>
            <img
              *ngIf="!isPicvidVid(picvid)"
              [src]="getImageURL(picvid.fileLocation)"
              alt="specific album picture"
            />
            <img
              *ngIf="isPicvidVid(picvid)"
              src="../../../../../assets/movie.png"
              alt="generic album movie"
            />
            <mat-card-title>{{ picvid.name }}</mat-card-title>
            <button
              mat-mini-fab
              class="remove"
              *ngIf="isAdminPanelShown"
              (click)="deletePicvid(picvid); $event.stopPropagation()"
            >
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-card>
        </div>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>
