<app-menu />
<div *ngIf="user" class="top">
  <p>Bienvenue, {{ user.name }}</p>
  <button
    *ngIf="ownedAlbums.length < user.maxAlbums"
    mat-raised-button
    routerLink="create"
    id="newAlbum"
  >
    <mat-icon>add_circle</mat-icon> Album
  </button>
  <div
    *ngIf="ownedAlbums.length >= user.maxAlbums"
    matTooltip="Pour plus d'albums, nous contacter"
  >
    <button disabled mat-raised-button>
      <mat-icon>not_interested</mat-icon> Quota
    </button>
  </div>
</div>

<div class="expand">
  <button mat-mini-fab (click)="toggleShow('owned')">
    <mat-icon>{{ ownedShow }}</mat-icon>
  </button>
  <h1>Mes albums</h1>
</div>
<div class="myAlbums" *ngIf="ownedShow == 'remove'">
  <app-main-album-card
    *ngFor="let album of ownedAlbums"
    [context]="'owner'"
    [album]="album"
    [userId]="userId"
  />
  <h2 *ngIf="ownedAlbums.length == 0" class="noAlbum">
    Vous n'avez pas encore d'albums
  </h2>
</div>

<div *ngIf="moderatedAlbums.length > 0">
  <hr />
  <div class="expand">
    <button mat-mini-fab (click)="toggleShow('moderated')">
      <mat-icon>{{ moderatedShow }}</mat-icon>
    </button>
    <h1>Mes albums à modérer</h1>
  </div>
  <div class="myAlbums" *ngIf="moderatedShow == 'remove'">
    <app-main-album-card
      *ngFor="let album of moderatedAlbums"
      [context]="'moderated'"
      [album]="album"
      [userId]="userId"
    />
  </div>
</div>

<hr />
<div class="expand">
  <button mat-mini-fab (click)="toggleShow('subscribed')">
    <mat-icon>{{ subscribedShow }}</mat-icon>
  </button>
  <h1>Mes abonnements</h1>
</div>
<div class="subscribedAlbums" *ngIf="subscribedShow == 'remove'">
  <app-main-album-card
    *ngFor="let album of subscribedAlbums"
    [context]="'subscribed'"
    [album]="album"
    [userId]="userId"
    (unsubscribeEmitter)="onUnsubscribe(album.id)"
  />
  <h2 *ngIf="subscribedAlbums.length == 0" class="noAlbum">
    Vous n'êtes abonné à aucun album
  </h2>
</div>
