<button mat-icon-button (click)="back()">
  <mat-icon>arrow_back</mat-icon>
</button>
<hr />

<div class="mentions">
  <h2 id="who">Qui sommes-nous ?</h2>
  <p>
    Ishtamar.fr appartient à l'association Ishtamar Informatique et Education,
    qui promeut l'apprentissage de l'informatique dans une optique
    écoresponsable.
  </p>
  <p>
    Notre but est donc d'utiliser les machines les moins puissantes et les moins
    polluantes possibles et d'optimiser le code et les ressources serveur.
  </p>
  <p>
    De plus, nous favorisons l'apprentissage de l'informatique à travers ces
    services, en sensibilisant les utilisateurs et les institutions sur l'impact
    écologique des machines utilisées, trop souvent surdimensionnées.
  </p>

  <h2 id="rgpd">RGPD</h2>
  <p>
    La <a href="https://www.cnil.fr/fr/rgpd-de-quoi-parle-t-on">RGPD</a>,
    réglementation générale sur la protection des données, est un ensemble de
    textes visant à protéger les droits des citoyens européens.
  </p>
  <p>
    Le site ishtamar.fr ne contient ni cookies, ni traqueurs, de sorte que vos
    visites ne sont pas tracées. Cependant, une partie des services n'est
    accessible qu'aux utilisateurs enregistrés.
  </p>
  <p>
    Lors de l'inscription, ishtamar.fr collecte certaines données personnelles :
  </p>
  <ul>
    <li>Votre nom d'utilisateur</li>
    <li>Votre adresse e-mail</li>
    <li>Votre adresse IP</li>
    <li>Les dates et heures de l'inscription et de la validation</li>
  </ul>
  <p>Lors des visites ultérieures, ishtamar.fr collecte également :</p>
  <ul>
    <li>
      Les dates et heures et les adresses IP des différentes connexions et
      utilisations
    </li>
    <li>
      Les contributions des utilisateurs (messages, photos, commentaires, etc.)
    </li>
  </ul>
  <p>
    Conformément à la réglementation, vous avez un droit d'accès et de
    rectification aux données vous concernant. Vous pouvez exercer ce droit en
    <a [href]="'mailto:' + CONTACT_EMAIL">nous contactant</a>.
  </p>
  <p>
    Ces données personnelles ne sont ni vendues, ni partagées avec des tiers, à
    l'exception des réquisitions administratives ou judiciaires selon les lois
    en vigueur.
  </p>
  <p>
    Ces données personnelles ne sont recueillies que dans le but d'assurer le
    bon fonctionnement du service, et dans des buts de statistiques internes.
  </p>
</div>
