<button mat-icon-button (click)="back()">
  <mat-icon>arrow_back</mat-icon>
</button>
<hr />

<div class="mentions" *ngIf="!english">
  <h2 id="who">Qui sommes-nous ?</h2>
  <p>
    Ishtamar.fr appartient à l'association Ishtamar Informatique et Education,
    qui promeut l'apprentissage de l'informatique dans une optique
    écoresponsable.
  </p>
  <p>
    Notre but est donc d'utiliser les machines les moins puissantes et les moins
    polluantes possibles et d'optimiser le code et les ressources serveur.
  </p>
  <p>
    De plus, nous favorisons l'apprentissage de l'informatique à travers ces
    services, en sensibilisant les utilisateurs et les institutions sur l'impact
    écologique des machines utilisées, trop souvent surdimensionnées.
  </p>
  <p>
    Le serveur de Ishtamar.fr est basé en France, et soumis aux lois et
    réglementations française et européenne.
  </p>

  <h2 id="rgpd">RGPD</h2>
  <p>
    La <a href="https://www.cnil.fr/fr/rgpd-de-quoi-parle-t-on">RGPD</a>,
    réglementation générale sur la protection des données, est un ensemble de
    textes visant à protéger les droits des citoyens européens.
  </p>
  <p>
    Le site ishtamar.fr ne contient ni cookies, ni traqueurs, de sorte que vos
    visites ne sont pas tracées. Cependant, une partie des services n'est
    accessible qu'aux utilisateurs enregistrés.
  </p>
  <p>
    Lors de l'inscription, ishtamar.fr collecte certaines données personnelles :
  </p>
  <ul>
    <li>Votre nom d'utilisateur</li>
    <li>Votre adresse e-mail</li>
    <li>Votre adresse IP</li>
    <li>Les dates et heures de l'inscription et de la validation</li>
  </ul>
  <p>Lors des visites ultérieures, ishtamar.fr collecte également :</p>
  <ul>
    <li>
      Les dates et heures et les adresses IP des différentes connexions et
      utilisations
    </li>
    <li>
      Les contributions des utilisateurs (messages, photos, commentaires, etc.)
    </li>
  </ul>
  <p>
    Conformément à la réglementation, vous avez un droit d'accès et de
    rectification aux données vous concernant. Vous pouvez exercer ce droit en
    <a [href]="'mailto:' + CONTACT_EMAIL">nous contactant</a>.
  </p>
  <p>
    Ces données personnelles ne sont ni vendues, ni partagées avec des tiers, à
    l'exception des réquisitions administratives ou judiciaires selon les lois
    en vigueur.
  </p>
  <p>
    Ces données personnelles ne sont recueillies que dans le but d'assurer le
    bon fonctionnement du service, et dans des buts de statistiques internes.
  </p>
  <p>
    Ishtamar.fr n'utilise ni cookies, ni traqueurs. Par conséquent, aucun
    bandeau RGPD n'est présent sur ce site.
  </p>

  <h2 id="licence">Licence</h2>
  <p>
    Cette application est uniquement destinée à partager des photos et des
    vidéos de nos animaux de compagnie.
  </p>
  <p>
    Cette application est fournie en l'état, et de manière gratuite, sans aucune
    garantie de bon fonctionnement d'aucune sorte. Ishtamar.fr ne saurait être
    responsable de toute perte de données, de toute interruption de service, ou
    de tout dommage quel qu'il soit.
  </p>
  <p>
    La gratuité du service fourni par Ishtamar.fr n'est pas garantie dans le
    temps.
  </p>
  <p>
    Par défaut, chaque utilisateur peut créer un seul album, d'une taille
    maximale de 500Mo. Cette limitation peut être modifiée à la discrétion de
    Ishtamar.fr en <a [href]="'mailto:' + CONTACT_EMAIL">nous contactant</a>.
  </p>
  <p>
    Ishtamar.fr s'engage à rendre à leur propriétaire leurs différentes photos,
    vidéos, sous la forme la plus simple à mettre en oeuvre par Ishtamar.fr, sur
    simple demande, après vérification de l'identité du demandeur, et si cette
    opération est matériellement et juridiquement possible.
  </p>

  <h2 id="responsabilite">Responsabilités</h2>
  <p>
    Ishtamar.fr n'est pas responsable du contenu posté par les différents
    membres. Le contenu (photos, vidéos, commentaires) ne reflète pas les idées
    et les opinions de Ishtamar.fr.
  </p>
  <p>
    Le contenu (photos, vidéos, commentaires) reste la propriété et la
    responsabilité de celui qui le poste.
  </p>
  <p>
    Ishtamar.fr se réserve le droit, à tout moment et sans indication préalable,
    de modérer du contenu, à sa propre discrétion, sur demande d'un tiers ou sur
    demande des autorités compétentes.
  </p>
  <p>
    En particulier, toute ressource ne correspondant pas à un animal de
    compagnie, ou qui viole manifestement les lois et réglementations en
    vigueur, sera modérée dans les plus brefs délais.
  </p>
</div>

<div class="mentions" *ngIf="english">
  <h2 id="who">Who are we?</h2>
  <p>
    Ishtamar.fr belongs to the Ishtamar Computer Science and Education
    Association, which promotes learning computer science in an eco-responsible
    way.
  </p>
  <p>
    Our goal is therefore to use the least powerful and least polluting machines
    possible and to optimize code and server resources.
  </p>
  <p>
    In addition, we promote learning computer science through these services, by
    raising awareness among users and institutions about the ecological impact
    of the machines used, too often oversized.
  </p>
  <p>
    The Ishtamar.fr server is based in France, and is subject to French and
    European laws and regulations.
  </p>

  <h2 id="rgpd">GDPR</h2>
  <p>
    The <a href="https://gdpr.eu/what-is-gdpr/">GDPR</a>, General Data
    Protection Regulation, is a set of texts aimed at protecting the rights of
    European citizens.
  </p>
  <p>
    The ishtamar.fr site does not contain any cookies or trackers, so your
    visits are not tracked. However, some services are only accessible to
    registered users.
  </p>
  <p>When you register, ishtamar.fr collects some personal data:</p>
  <ul>
    <li>Your username</li>
    <li>Your email address</li>
    <li>Your IP address</li>
    <li>The dates and times of registration and validation</li>
  </ul>
  <p>During subsequent visits, ishtamar.fr also collects:</p>
  <ul>
    <li>
      The dates, times and IP addresses of the different connections and uses
    </li>
    <li>User contributions (messages, photos, comments, etc.)</li>
  </ul>
  <p>
    In accordance with the regulations, you have a right of access and
    rectification to your personal data. You can exercise this right by
    <a [href]="'mailto:' + CONTACT_EMAIL">contacting us</a>.
  </p>
  <p>
    This personal data is neither sold nor shared with third parties, with the
    exception of administrative or judicial requisitions in accordance with
    applicable laws.
  </p>
  <p>
    This personal data is only collected for the purpose of ensuring the proper
    functioning of the service, and for internal statistical purposes.
  </p>
  <p>
    Ishtamar.fr does not use cookies or trackers. Therefore, no GDPR banner is
    present on this site.
  </p>

  <h2 id="licence">License</h2>
  <p>
    This application is solely intended for sharing photos and videos of our
    pets.
  </p>
  <p>
    This application is provided as is, and free of charge, without any warranty
    of good functioning of any kind. Ishtamar.fr cannot be held responsible for
    any loss of data, any service interruption, or any damage whatsoever.
  </p>
  <p>The free service provided by Ishtamar.fr is not guaranteed over time.</p>
  <p>
    By default, each user can create a single album, with a maximum size of
    500MB. This limitation can be modified at the discretion of Ishtamar.fr by
    <a [href]="'mailto:' + CONTACT_EMAIL">contacting us</a>.
  </p>
  <p>
    Ishtamar.fr undertakes to return to their owner their various photos and
    videos, in the simplest form to implement by Ishtamar.fr, on simple request,
    after verification of the identity of the applicant, and if this operation
    is materially and legally possible.
  </p>

  <h2 id="responsabilite">Responsibilities</h2>
  <p>
    Ishtamar.fr is not responsible for the content posted by the different
    members. The content (photos, videos, comments) does not reflect the ideas
    and opinions of Ishtamar.fr.
  </p>
  <p>
    The content (photos, videos, comments) remains the property and
    responsibility of the person who posts it.
  </p>
  <p>
    Ishtamar.fr reserves the right, at any time and without prior notice, to
    moderate content, at its own discretion, at the request of a third party or
    at the request of the competent authorities.
  </p>
  <p>
    In particular, any resource that does not correspond to a pet, or that
    manifestly violates the laws and regulations in force, will be moderated as
    soon as possible.
  </p>
</div>
