<mat-card
  class="comment"
  [ngClass]="{
    me: comment.owner_id == myId,
    moderated: comment.status != 'ONLINE'
  }"
>
  <mat-card-subtitle i18n>
    Par {{ comment.owner_name }}, le
    {{ comment.createdAt | date : dateFormat }}
  </mat-card-subtitle>
  <mat-card-content>
    <span *ngIf="comment.status == 'MODERATED'" i18n class="italic"
      >Commentaire modéré
    </span>
    <span *ngIf="comment.status == 'ADMIN'" i18n class="'italic"
      >Commentaire modéré par le site
    </span>
    <span *ngIf="comment.status == 'ONLINE' || isModerating">{{
      comment.content
    }}</span>
  </mat-card-content>
  <mat-card-actions *ngIf="isModerating">
    <mat-slide-toggle
      [ngModel]="comment.status === 'ONLINE'"
      (click)="changeStatus(comment)"
    />
  </mat-card-actions>

  <mat-expansion-panel>
    <mat-expansion-panel-header collapsedHeight="35px" i18n>
      {{ comment.subcomments!.length }}
      réponse{{ comment.subcomments!.length > 1 ? "s" : "" }}
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <mat-card id="newMessage">
        <form [formGroup]="form" (ngSubmit)="submit()">
          <mat-card-content>
            <mat-form-field>
              <mat-label i18n>Nouvelle réponse</mat-label>
              <textarea matInput formControlName="content"></textarea>
            </mat-form-field>
            <button
              mat-mini-fab
              class="button submitNew"
              type="submit"
              [disabled]="form.invalid"
            >
              <mat-icon class="sendButton">send</mat-icon>
            </button>
          </mat-card-content>
        </form>
      </mat-card>

      <div *ngFor="let subcomment of subcomments.reverse()">
        <mat-card
          class="comment"
          [ngClass]="{
            me: subcomment.owner_id == myId,
            moderated: subcomment.status != 'ONLINE'
          }"
        >
          <mat-card-subtitle i18n>
            Par {{ subcomment.owner_name }}, le
            {{ subcomment.createdAt | date : dateFormat }}
          </mat-card-subtitle>
          <mat-card-content>
            <span *ngIf="subcomment.status == 'MODERATED'" i18n class="'italic"
              >Commentaire modéré
            </span>
            <span *ngIf="subcomment.status == 'ADMIN'" i18n class="'italic"
              >Commentaire modéré par le site
            </span>
            <span *ngIf="subcomment.status == 'ONLINE' || isModerating">{{
              subcomment.content
            }}</span>
          </mat-card-content>
          <mat-card-actions *ngIf="isModerating">
            <mat-slide-toggle
              [ngModel]="subcomment.status === 'ONLINE'"
              (click)="changeSubStatus(subcomment)"
            />
          </mat-card-actions>
        </mat-card>
      </div>
    </ng-template>
  </mat-expansion-panel>
</mat-card>
