<app-menu />

<div [class]="screenClass(screenWidth)" *ngIf="picvid">
  <img
    *ngIf="!isPicvidVid(picvid)"
    class="picvidRessource"
    [src]="showImage(picvid.fileLocation)"
    [alt]="'picvid' + picvidId"
  />
  <video
    controls
    class="picvidRessource"
    [src]="showImage(picvid.fileLocation)"
    *ngIf="isPicvidVid(picvid)"
  >
    {{ picvid.fileLocation }}
  </video>
  <div class="picvidAdditional">
    <div>
      <mat-slide-toggle *ngIf="isModo" [(ngModel)]="isAdminPanelShown" i18n
        >Administration</mat-slide-toggle
      >
      <app-picvid-title
        [picvid]="picvid"
        [isAdminTriggered]="isAdminPanelShown"
      />

      <div class="picvidMessages">
        <div>
          <button mat-icon-button (click)="back()">
            <mat-icon>arrow_back</mat-icon>
          </button>
          <span class="title" i18n>Commentaires :</span>
        </div>
        <mat-card id="newMessage">
          <form [formGroup]="form" (ngSubmit)="submit()">
            <mat-card-content>
              <mat-form-field>
                <mat-label i18n>Nouveau commentaire</mat-label>
                <textarea matInput formControlName="content"></textarea>
              </mat-form-field>
              <button
                mat-mini-fab
                class="button submitNew"
                type="submit"
                [disabled]="form.invalid"
              >
                <mat-icon class="sendButton">send</mat-icon>
              </button>
            </mat-card-content>
          </form>
        </mat-card>
        <div *ngFor="let comment of comments">
          <app-picvid-comment
            [id]="'comment' + comment.id"
            [comment]="comment"
            [albumId]="albumId"
            [picvidId]="picvidId"
            (commentEvent)="refreshComments($event)"
          />
        </div>
      </div>
    </div>
  </div>
</div>
